/* Custom CSS for StayDetails component */

/* Set black background for the page */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Style for the title */
h1 {
  color: #fff; /* White text color */
  margin-top: 50px; /* Adjusted top margin */
}

/* Style for the hotel form */
.hotel-form {
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: -300px;
}

/* Add more padding between form fields */
.hotel-form input,
.hotel-form select {
  margin-bottom: 15px;
  background-color: #fcd34d; /* Set background color same as button */
  border-color: #fcd34d; /* Set border color same as button */
  color: #000; /* Set text color */
}

/* Style for the hotel card */
.hotel-card {
  margin-top: -400px;
  box-shadow: none; /* Remove box shadow */
}

/* Style for the button */
.btn {
  background-color: #fcd34d !important; /* Set button color */
  border-color: #fcd34d !important; /* Set button border color */
  color: #000 !important; /* Set button text color */
}
